<section class="footers">
    <div class="container">
   <div class="row">
    <div class="col-md-3 infofooter">
      <h4>Openingstijden</h4>
        <p>Ma tot Vr 8.00 tot 18.00 uur</p>
        <p>*Do van 8.00 tot 20.00 uur</p>
        <p>*Za 9.00 tot 17.00 uur</p>
     </div>
     <div class="col-md-3 linksfooter">
      <h4>Links</h4>
       <ul>
         <li><a href="#">Algemene voorwaarden</a></li>
         <li><a href="/pdf/privacy_statement_14-12-2018.pdf">Privacy verklaring</a></li>
       </ul>
     </div>
     <div class="col-md-3 menufooter">
      <h4>Menu</h4>
       <ul>
         <li><a href="/financial_lease.html">Financiering</a></li>
         <li><a href="/occasions.html">Occasions</a></li>
         <li><a href="/werkplaats.html">Werkplaats</a></li>
         <li><a href="/diversen.html">Diversen</a></li>
       </ul>
     </div>
    <div class="col-md-3 infofooter">
      <h4>Contact</h4>
        <p>Garage Jagt Emmen</p>
        <p>Michael Strogoffstraat 5</p>
        <p>7821 AL Emmen</p>
        <p>T: (0591) 61 48 46</p>
        <p>E: info@garagejagt.nl</p>
     </div>
   </div> 
   </div> 

 <!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>Hou jij ook van cookies?</b> &#x1F36A; Met cookies zorgen wij voor de beste belevenis op onze website <a href="/pdf/privacy_statement_14-12-2018.pdf" target="_blank">Lees verder</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        Akkoord
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>

</section>