<section>
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <img src="images/headers/h23.png" alt="">
      <div class="hero">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="h1">
              <h1 class="slider-info-1" style="color: white; font-size:55px; text-shadow: -2px 2px 4px black;">Garage Jagt</h1>      
              <h3 class="slider-info-2" style="color: white; font-size:35px; text-shadow: -2px 2px 4px black;">Open 6 dagen in de week</h3>
            </div>
        </div>
        <div class="openingstijden col-md-6 col-sm-6">
            <table class="slidtable" style="float: right; color: #d16643;">
              <tr>
                <th>Openings Tijden</th>
              </tr>
              <tr>
                <td>Ma</td>
                <td>8.00 - 18.00</td>
              </tr>
                <tr>
                 <td>Di</td>
                 <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>Wo</td>
                  <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>Do</td>
                  <td>8.00 - 20.00</td>
              </tr>
                <tr>
                  <td>Vr</td>
                  <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>za</td>
                  <td>9.00 - 17.00</td>
              </tr>
                <tr>
                  <td>Zo</td>
                  <td>Gesloten</td>
              </tr>
            </table>
            </div>
          </div>
      </div>
    </div>
    <div class="item slides">
      <img src="images/headers/h10.png" alt="">
      <div class="hero">        
                <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="h1">
              <h1 class="slider-info-1" style="color: white !important; font-size:55px; text-shadow: -2px 2px 4px black;">Garage Jagt</h1>      
              <h3 class="slider-info-2" style="color: white !important; font-size:35px; text-shadow: -2px 2px 4px black;">zorgeloos op weg</h3>
            </div>
        </div>
        <div class="openingstijden col-md-6 col-sm-6">
            <table class="slidtable" style="float: right; color: #d16643;">
              <tr>
                <th>Openings Tijden</th>
              </tr>
              <tr>
                <td>Ma</td>
                <td>8.00 - 18.00</td>
              </tr>
                <tr>
                 <td>Di</td>
                 <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>Wo</td>
                  <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>Do</td>
                  <td>8.00 - 20.00</td>
              </tr>
                <tr>
                  <td>Vr</td>
                  <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>za</td>
                  <td>9.00 - 17.00</td>
              </tr>
                <tr>
                  <td>Zo</td>
                  <td>Gesloten</td>
              </tr>
            </table>
            </div>
          </div>
      </div>
    </div>
    <div class="item slides">
      <img src="images/headers/h19.png" alt="">
      <div class="hero">        
               <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="h1">
              <h1 class="slider-info-1" style="color: white; font-size:55px; text-shadow: -2px 2px 4px black;">Garage Jagt</h1>      
              <h3 class="slider-info-2" style="color: white; font-size:35px; text-shadow: -2px 2px 4px black;">Goede en goedkope occasions</h3>
            </div>
        </div>
        <div class="openingstijden col-md-6 col-sm-6">
            <table class="slidtable" style="float: right; color: #d16643;">
              <tr>
                <th>Openings Tijden</th>
              </tr>
              <tr>
                <td>Ma</td>
                <td>8.00 - 18.00</td>
              </tr>
                <tr>
                 <td>Di</td>
                 <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>Wo</td>
                  <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>Do</td>
                  <td>8.00 - 20.00</td>
              </tr>
                <tr>
                  <td>Vr</td>
                  <td>8.00 - 18.00</td>
              </tr>
                <tr>
                  <td>za</td>
                  <td>9.00 - 17.00</td>
              </tr>
                <tr>
                  <td>Zo</td>
                  <td>Gesloten</td>
              </tr>
            </table>
            </div>
          </div>
      </div>
    </div>
  </div> 
</div>
</section>